#bari{
    width:90%;
    border: solid 6px white;
    border-radius: 3px;
   background-color: #37b7e1;
display: inline;
float: left ;
padding: 5px;
}
#button{
    float: right;
}
body{
    background-color: #000000c4;
}
a{
    text-decoration: none;
    color: white;
    padding: 20px;
}